<div class="page-container">
  <nav>
    <div class="nav-wrapper black">
      <a href="#!" class="brand-logo">
        <p>
          <span style="font-weight:100;">good</span>
          <span style="font-weight: bold; margin-left: -5px;">views</span>
        </p>
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/mytitles.html">My Titles</a></li>
        <li><a href="/browse.html">Browse</a></li>
        <li><a href="/community.html">Community</a></li>
      </ul>
      <ul class="side-nav white-text" id="mobile-demo">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/mytitles.html">My Titles</a></li>
        <li><a href="/browse.html">Browse</a></li>
        <li><a href="/community.html">Community</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <!-- CAROUSEL -->
    <div class="carousel">
      <a href="#one!" class="carousel-item">
        <img src="./images/7tdr64aic6821.jpg" alt="">
      </a>
      <a href="#two!" class="carousel-item">
        <img src="./images/82738131.jpeg" alt="">
      </a>
      <a href="#three!" class="carousel-item">
        <img src="./images/jaws.jpg" alt="">
      </a>
      <a href="#four!" class="carousel-item">
        <img src="./images/OceansEightPoster.jpeg" alt="">
      </a>
      <a href="#five!" class="carousel-item">
        <img src="./images/static.jpg" alt="">
      </a>
      <a href="#five!" class="carousel-item">
        <img src="./images/Tag_2018_film.png" alt="">
      </a>
      <a href="#five!" class="carousel-item">
        <img src="./images/Thor-The-Dark-World.jpg" alt="">
      </a>
      <a href="#five!" class="carousel-item">
        <img src="./images/Untitled7.png" alt="">
      </a>
    </div>
  </div>

  {{!-- starter project content --}}
  {{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}


</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script>
  $(document).ready(function () {
    // Init Carousel
    $('.carousel').carousel();

    // Init Carousel Slider
    $('.carousel.carousel-slider').carousel({ fullWidth: true });

    // Fire off toast
    //Materialize.toast('Hello World', 3000);

    // Init Slider
    $('.slider').slider();

    // Init Modal
    $('.modal').modal();

    // Init Sidenav
    $('.button-collapse').sideNav();
  });
</script>
<script src="/js/index.js"></script>